*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Matrix Code NFI';
    src: url('../fonts/matrix code nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
html, body{
    height: 100vh;
    width: 100%;

    color: #00FF41;
	font-family: 'Matrix Code NFI', sans-serif;
	text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
}
.background {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    background-color: rgb(0, 0, 0);
    grid-template-columns: repeat(20, 100px); 
    grid-template-rows: repeat(19, 100px); 
    overflow: hidden;
    z-index: 1;
    user-select: none;
}

.cubes {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #002f06;
    padding: 10px;
    border-radius: 20px;
    transition: ease 0.9s;
    z-index: 1;
    box-shadow: 0 0 1px 0px #002f06;
}
.cubes:hover{
    transition: ease 0.1s;
    background-color:  #1fea00;
    box-shadow: 0 0 1px 0px #002f06;
}
.blur{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
}
.form{
    width: 500px;
    height: 80%;
    min-width: 100px;
    min-height: 700px;
    margin: auto;
    position: fixed;
    display:flex;
    flex-direction: column;
    z-index: 10;
    background-color: #000000d7;
    top: 10%;
    left: calc(50% - 250px);
    box-shadow: 0 0 50px 10px #001803;
    border-radius: 20px;
    align-items: center;
    user-select: none;
}
h1{
    font-size: 40px;
    margin: 80px 0;
}
h4{
    margin: 0 0 100px 0;
    width: 400px;
	text-shadow: 0 0 1px #00FF41,0 0 1px #00FF41,0 0 1px #00FF41;
}
h5{
    text-shadow: 0 0 1px #00FF41,0 0 1px #00FF41,0 0 1px #00FF41;
}
.box {
    height: 70px;
    width: 200px;
    margin: 50px 0;
    --clr-shadow__border: #A8DF8E;
    --clr-text: #F6F4EB;
    --clr-code-line: #43ff85;
    --clr-matrix: #020204;
    --size: 3rem;
    position: relative;
    outline: 1px solid var(--clr-shadow__border);
    text-shadow: 0 0 10px #00FF41,0 0 10px #00FF41,0 0 10px #00FF41;
  }
  
  .button {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: var(--clr-text);
    padding: calc(var(--size) / 3) var(--size);
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .matrix {
    width: 100%;
    height: 100%;
    bottom: 0%;
    transition: 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    background: var(--clr-matrix);
  }
  
  .box:hover .matrix {
    opacity: 1;
  }
  
  .code-line {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    transition: 0.5s;
    min-height: 0.6rem;
    min-width: 0.6rem;
    animation: matrix-animation calc(.2s * var(--i)) linear infinite;
  }
  
  .code {
    text-shadow: 20px 100px var(--clr-code-line),-20px -50px var(--clr-code-line);
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-code-line);
    opacity: 0.5;
  }
  
  .code:first-child {
    color: var(--clr-text);
    opacity: 1;
  }
  
  @keyframes matrix-animation {
    0% {
      transform: translateY(calc(-50% * var(--i)));
    }
  
    100% {
      -webkit-transform: translateY(calc(50% * var(--i)));
      transform: translateY(calc(50% * var(--i)));
    }
  }
  input {
    display: inline-block;
    width: 300px;
    margin: 10px 0 ;
    height: 40px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 2px solid #1fbc00;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    font: normal 19px/normal "Courier New", Courier, monospace;
    color: rgba(42,255,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(45,45,45,1);
    box-shadow: 0 0 9px 4px rgba(0,0,0,0.15) , -1px 4px 8px -1px rgba(0,0,0,0.49) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: rotateX(-16.62deg) rotateY(-28.64788975654116deg);
    transform: rotateX(-0.62deg) rotateY(-28.64788975654116deg);
    font-size: 30px;
  }
  
  input:hover {
    -webkit-transform: rotateX(-15.62deg) rotateY(-23.65deg);
    transform: rotateX(-5.62deg) rotateY(-23.65deg);
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
  
  input:focus {
    outline: none;
  }
  
  
  
  
  
  
  